{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th class="text-start">Symbol</th>
                    <th class="text-end">Shares</th>
                    <th class="text-end">Price</th>
                    <th class="text-end">Transacted</th>
                </tr>
            </thead>
            <tbody>
                {% for item in history %}
                    <tr>
                        <td class="text-start">{{ item.symbol }}</td>
                        <td class="text-end">{{ item.shares }}</td>
                        <td class="text-end">{{ item.price | usd }}</td>
                        <td class="text-end">{{ item.timestamp }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
